# –ü—Ä–∞–∫—Ç–∏–∫–∞ EDA (—Ä–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö)

–ê–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –¥–∞—Ç–∞—Å–µ—Ç —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ–± –∞—Ç–ª–µ—Ç–∞—Ö, —É—á–∞—Å—Ç–≤–æ–≤–∞–≤—à–∏—Ö –≤ –û–ª–∏–º–ø–∏–π—Å–∫–∏—Ö –∏–≥—Ä–∞—Ö (olymp.csv). –†–∞–∑–¥–µ–ª–∏—Ç–µ–ª—å –∑–∞–ø—è—Ç–∞—è.

–î–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç —Å–ª–µ–¥—É—é—â–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏: \
ID - —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –Ω–æ–º–µ—Ä —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞ \
Name - –∏–º—è –∞—Ç–ª–µ—Ç–∞ \
Sex - –ø–æ–ª (–º—É–∂—Å–∫–æ–π - M,  –∂–µ–Ω—Å–∫–∏–π - F) \
Age - –≤–æ–∑—Ä–∞—Å—Ç –∞—Ç–ª–µ—Ç–∞ \
Height - —Ä–æ—Å—Ç (–≤ —Å–º) \
Weight - –≤–µ—Å (–≤ –∫–≥) \
Team - c—Ç—Ä–∞–Ω–∞ \
NOC - –∫–æ–¥ —Å—Ç—Ä–∞–Ω—ã –æ—Ç –û–ª–∏–º–ø–∏–π—Å–∫–æ–≥–æ –∫–æ–º–∏—Ç–µ—Ç–∞ (3 –±—É–∫–≤—ã) \
Games - –≥–æ–¥ –∏ —Å–µ–∑–æ–Ω –û–ª–∏–º–ø–∏–π—Å–∫–∏—Ö –∏–≥—Ä \
Year - –≥–æ–¥ –û–ª–∏–º–ø–∏–π—Å–∫–∏—Ö –∏–≥—Ä \
Season - —Å–µ–∑–æ–Ω (–ó–∏–º–Ω–∏–µ - Winter,  –õ–µ—Ç–æ - Summer) \
City - –≥–æ—Ä–æ–¥ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è –û–ª–∏–º–ø–∏–π—Å–∫–∏—Ö –∏–≥—Ä \
Sport - —Å–ø–æ—Ä—Ç–∏–≤–Ω–∞—è –¥–∏—Å—Ü–∏–ø–ª–∏–Ω–∞ \
Event - –∫–∞—Ç–µ–≥–æ—Ä–∏—è —Å–ø–æ—Ä—Ç–∏–≤–Ω–æ–π –¥–∏—Å—Ü–∏–ø–ª–∏–Ω—ã \
Medal - –¥–æ—Å—Ç–æ–∏–Ω—Å—Ç–≤–æ –º–µ–¥–∞–ª–∏ (–ó–æ–ª–æ—Ç–æ - Gold, –°–µ—Ä–µ–±—Ä–æ - Silver, –ë—Ä–æ–Ω–∑–∞ - Bronze, –ë–µ–∑ –º–µ–¥–∞–ª–∏ - NaN)

In [1]:
import pandas as pd

**–ó–∞–¥–∞–Ω–∏–µ 1**. –ó–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ

In [2]:
df = pd.read_csv('olymp.csv')

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**–ó–∞–¥–∞–Ω–∏–µ 2**. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏

In [15]:
df.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

**–ó–∞–¥–∞–Ω–∏–µ 3**. –£–∑–Ω–∞–π—Ç–µ —Ä–∞–∑–º–µ—Ä –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞. –ü–æ–ª—É—á–∏—Ç–µ —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∫–æ–ª–æ–Ω–æ–∫.

In [16]:
df.shape

(271116, 15)

In [35]:
print(*list(df.columns),sep = ', ')

ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal

**–ó–∞–¥–∞–Ω–∏–µ 4**. –°–∫–æ–ª—å–∫–æ –ª–µ—Ç –±—ã–ª–æ —Å–∞–º–æ–º—É –º–æ–ª–æ–¥–æ–º—É —É—á–∞—Å—Ç–Ω–∏–∫—É –æ–ª–∏–º–ø–∏–π—Å–∫–∏—Ö –∏–≥—Ä –≤ 1992 –≥–æ–¥—É?

In [47]:
min_age_92 = df[df.Year == 1992].Age.min()

In [53]:
df[(df.Year == 1992) & (df.Age == min_age_92)]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
73461,37333,Carlos Bienvenido Front Barrera,M,11.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Coxed Eights,NaN

**–ó–∞–¥–∞–Ω–∏–µ 5**. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —É—á–∞—Å—Ç–Ω–∏–∫–æ–≤ –û–ª–∏–º–ø–∏–π—Å–∫–∏—Ö –∏–≥—Ä –±—ã–ª–æ –≤ 2012 –≥–æ–¥—É? –ü—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ `.drop_duplicates("–ø—Ä–∏–∑–Ω–∞–∫")` –ø–æ –ø—Ä–∏–∑–Ω–∞–∫—É ID, —á—Ç–æ–±—ã –æ—Å—Ç–∞–≤–∏—Ç—å —Å—Ç—Ä–æ–∫–∏, —Ç–æ–ª—å–∫–æ —Å —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ –∞—Ç–ª–µ—Ç–∞–º–∏

In [54]:
df[df['Year'] == 2012].drop_duplicates('ID').Name.count()

10517

In [56]:
cnt2012 = df[df['Year'] == 2012].drop_duplicates('ID').Name.count()

**–ó–∞–¥–∞–Ω–∏–µ 6**. –ö–∞–∫—É—é –¥–æ–ª—é —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç –º—É–∂—á–∏–Ω—ã-–±–∞—Å–∫–µ—Ç–±–æ–ª–∏—Å—Ç—ã —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö —É—á–∞—Å—Ç–Ω–∏–∫–æ–≤ –∏–≥—Ä 2012 –≥–æ–¥–∞? –û–∫—Ä—É–≥–ª–∏—Ç–µ –æ—Ç–≤–µ—Ç –¥–æ –¥–≤—É—Ö –∑–Ω–∞–∫–æ–≤.

In [71]:
print(round(df[(df['Year'] == 2012) & (df['Sport'] == 'Basketball') & (df['Sex'] == 'M')].drop_duplicates('ID').Name.count()/cnt2012*100,2),'%', sep ='')

1.37%

**–ó–∞–¥–∞–Ω–∏–µ 7**. –í –∫–∞–∫–∏—Ö –≥–æ–¥–∞—Ö –ø—Ä–æ–≤–æ–¥–∏–ª–∏—Å—å —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è –ø–æ –∫–µ—Ä–ª–∏–Ω–≥—É (Curling)? –ü—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ `.unique()` –∫ —Å—Ç–æ–ª–±—Ü—É `Year`.

In [72]:
print(*sorted(list(df[df['Sport'] == 'Curling'].Year.unique())), sep=', ')

1924, 1998, 2002, 2006, 2010, 2014

**–ó–∞–¥–∞–Ω–∏–µ 8**

C–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫ BMI –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–± –∏–Ω–¥–µ–∫—Å–µ –º–∞—Å—Å—ã —Ç–µ–ª–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞ –Ω–∞ –æ—Å–Ω–æ–≤–µ —Å—Ç–æ–ª–±—Ü–∞ —Å –º–∞—Å—Å–æ–π (Weight) –∏ —Ä–æ—Å—Ç–æ–º (Height):

$$ùêµùëÄùêº=\frac{–ú–∞—Å—Å–∞(–∫–≥.)}{–†–æ—Å—Ç(–º.)^2}$$

HINT: –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —Ä–æ—Å—Ç(Height) –≤ —Ç–∞–±–ª–∏—Ü–µ –¥–∞–Ω –≤ —Å–∞–Ω—Ç–∏–º–µ—Ç—Ä–∞—Ö, –∞ –ø–æ —Ñ–æ—Ä–º—É–ª–µ —Ä–æ—Å—Ç –Ω—É–∂–µ–Ω –≤ –º–µ—Ç—Ä–∞—Ö

In [84]:
df['BMI'] = round(df.Weight / (0.01 * df.Height)**2,2)

In [85]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,BMI
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [101]:
df[['Height', 'Weight','BMI']].sample(10) #–≤—ã–±–æ—Ä–∫–∞ —Å–ª—É—á–∞–π–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏

        Height  Weight    BMI
69824    179.0    85.0  26.53
63852      NaN     NaN    NaN
7314     186.0    80.0  23.12
200731   181.0    87.0  26.56
136683   153.0    50.0  21.36
211189   159.0    55.0  21.76
123416   159.0    54.0  21.36
34181      NaN     NaN    NaN
226826   167.0    54.0  19.36
267752     NaN     NaN    NaN

**–ó–∞–¥–∞–Ω–∏–µ 9**. –ù–∞–π–¥–∏—Ç–µ –º–æ–¥—É–ª—å —Ä–∞–∑–Ω–æ—Å—Ç–∏ –º–µ–∂–¥—É –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –∏–Ω–¥–µ–∫—Å–∞ –º–∞—Å—Å—ã —Ç–µ–ª–∞ –∞—Ç–ª–µ—Ç–æ–≤ (BMI). –û—Ç–≤–µ—Ç –æ–∫—Ä—É–≥–ª–∏—Ç–µ –¥–æ –¥–≤—É—Ö –∑–Ω–∞–∫–æ–≤.

In [102]:
df.BMI.max() - df.BMI.min()

55.54

**–ó–∞–¥–∞–Ω–∏–µ 10**.

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∞—Ç–ª–µ—Ç–æ–≤ –∏–∑ –°–æ–≤–µ—Ç—Å–∫–æ–≥–æ –°–æ—é–∑–∞ (Soviet Union) —á–µ–π –ø—Ä–æ—Ü–µ–Ω—Ç —É—Å–ø–µ—Ö–∞ –Ω–∞ –æ–ª–∏–º–ø–∏–∞–¥–µ –Ω–µ –º–µ–Ω–µ–µ 50%. –ü–æ–∫–∞–∑–∞—Ç–µ–ª—å –ø—Ä–æ—Ü–µ–Ω—Ç–∞ —É—Å–ø–µ—Ö–∞ —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è –∫–∞–∫ —á–∞—Å—Ç–Ω–æ–µ (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–≤–æ–µ–≤–∞–Ω–Ω—ã—Ö –º–µ–¥–∞–ª–µ–π –∫ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Å–ø–æ—Ä—Ç–∏–≤–Ω—ã—Ö –¥–∏—Å—Ü–∏–ø–ª–∏–Ω, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –æ–Ω–∏ –ø—Ä–∏–Ω—è–ª–∏ —É—á–∞—Å—Ç–∏–µ), —É–º–Ω–æ–∂–µ–Ω–Ω–æ–µ –Ω–∞ 100.

In [108]:
sov_team = df[df.Team == 'Soviet Union'].groupby('Name')[['Event', 'Medal']].count().copy()

In [112]:
sov_team['success'] = 100 * sov_team.Medal / sov_team.Event

In [118]:
sov_team[sov_team.success >= 50].shape[0]

1452