Реализуйте программу, которая напечатает название товара и количество денег, потраченных на него: 

- На первой строке вводится название товара (строка). 
- Затем вводится цена этого товара за штуку (вещественное число).
- Программа должна вывести фразу вида 'Были куплены <НАЗВАНИЕ ТОВАРА> в количестве 5 шт., всего было потрачено <КОЛИЧЕСТВО ДЕНЕГ, КОТОРОЕ УШЛО НА ПОКУПКУ> рублей'.

In [2]:
print(f'Были куплены {input()} в количестве 5 шт., всего было потрачено {float(input())*5} рублей')

зеленые яблоки
24.5
Были куплены зеленые яблоки в количестве 5 шт., всего было потрачено 122.5 рублей

Реализуйте программу, проверяющую, какое место по показателю ВВП на душу населения заняла страна:

- На первой строке вводится название страны (строка). 
- Затем вводится место этой страны по показателю ВВП на душу населения (целое число).
- Программа должна проверять, что страна занимает место от 5 до 10 (включительно в обоих случаях), и если да, то печатать фразу вида "<НАЗВАНИЕ СТРАНЫ>, True". 
- В остальных случаях программа должна печатать False.

In [5]:
country = input()
place = int(input())
if 10>= place >= 5:
    print(f'{country}, True')
else: print(False)

Hjccbz
5
Hjccbz, True

Реализуйте программу, которая определяет сумму цен товаров, удовлетворяющих определенным условиям:

* В цикле while считываются строки вида "<товар>, <цена>" до тех пор, пока не введена строка "END".
* Для каждого товара проверьте, что его цена больше 1000 и при этом кратна 500 (то есть делится на 500 без остатка).
* Гарантируется, что до строки "END" будет введена как минимум одна строка с данными.
* Напечатайте сумму цен товаров, удовлетворяющих условию.

In [15]:
res = 0
s = ''
while True:
    s = input()
    if s == 'END':
        break
    else:
        pr = s.split(', ')[-1]
        pr = int(pr)
        if pr > 1000 and pr % 500 == 0:
            res += pr
print(res)

, 1500
END
1500

In [11]:
int('  1000')

1000

Реализуйте программу, определяющую компании, в которых доходы превысили расходы: 

* На первой строке через пробел вводятся названия компаний.
* На второй строке через пробел вводятся целые числа — доходы каждой компании.
* На третьей строке через пробел вводятся целые числа — расходы каждой компании.
* Каждое значение доходов и расходов соответствует своей компании (первое — первой, второе — второй и т.д.).
* Гарантируется, что будет введена информация минимум об одной компании. Программа должна определять компании, где доходы превысили расходы.
* В конце программа печатает отсортированный по алфавиту список с названиями компаний, которые удовлетворяют условию. 
* Если таких компаний нет, программа печатает пустой список.

Странник Грузик МыПоможем! Лучший XXIвек Мастер-на-час Избранный
189 293 9223 892 495 193 444
890 482 8900 892 400 100 300

In [27]:
companyes = input().split()
income = list(map(int, input().split()))
costs = list(map(int, input().split()))
print(sorted([companyes[i] for i in range(len(income)) if (income[i] - costs[i]) > 0]))

KeyboardInterrupt: Interrupted by user

In [23]:
print([companyes[i] for i in range(len(income)) if (income[i] - costs[i]) > 0].sort())

None

In [24]:
companyes, income, costs

(['Странник',
  'Грузик',
  'МыПоможем!',
  'Лучший',
  'XXIвек',
  'Мастер-на-час',
  'Избранный'],
 [189, 293, 9223, 892, 495, 193, 444],
 [890, 482, 8900, 892, 400, 100, 300])

Реализуйте программу, считающую сбережения компаний:

* Дан словарь banks, где ключи — это названия банков, а значения — словари (где ключи — названия компаний, а значения — суммы на счетах этих компаний). Этот код уже написан.
* Считывается название компании.
* Определите, каким суммарным количеством средств обладает указанная компания, и напечатайте это число.

In [28]:
banks = {
    'Сберегу': {'Грузик': -900, 'МыЛучшие': 300, 'Петрович': -455},
    'Великий Банк': {'Петрович': 890, 'Грузик': -780},
    'АвиаБанк': {'МыЛучшие': 450, 'Грузик': 300},
    'Love_банк': {'Петрович': -400, 'Изба': 900, 'Грузик': 450}
}

In [30]:
company = input()
wealth = 0
for bank in banks:
    wealth += banks[bank].get(company, 0)
print(wealth)

Грузик

In [31]:
wealth

-930

In [37]:
sum([int(i.split(':')[1]) for i in input().split(', ')])

Оля:0

0

In [38]:
int('+700'), int('-700')

(700, -700)

In [51]:
with open('data.csv', 'r', encoding='utf-8') as f:
    for line in f:
        if '+' in line and int(line.split(',')[-1]) > 400:
            print(line, end ='')

15.01.2023,+700
20.01.2023,+450
21.01.2023,+600
23.01.2023,+1450

In [61]:
string.split(',')

['стол: 2 шт. 300 руб.',
 ' стул: 8 шт. 2800 руб.',
 ' шкаф: 1 шт. 900 руб.',
 ' комод: 6 шт. 3300 руб.',
 ' люстра: 2 шт. 1000 руб.',
 ' подвесной шкаф: 2 шт. 50 руб.']

In [65]:
sum([int(j.split()[0]) for j in [i.split(': ')[1] for i in string.split(',')]])

21

dict_variable = {key:value for key, value in dictonary.items()}

In [67]:
inp = 'Тинькофф: Python, SQL, C++, Docker; Открытие: SQL, Python, Power BI; Сбер: Power BI, R, C++, Apache; Совкомбанк: Excel, SQL, R, Python'

In [68]:
inp

'Тинькофф: Python, SQL, C++, Docker; Открытие: SQL, Python, Power BI; Сбер: Power BI, R, C++, Apache; Совкомбанк: Excel, SQL, R, Python'

In [83]:
# inp = input()
skill = input()
skills = {k:v for k,v in[i.split(':') for i in inp.split(';')]}
companies = []

for k in skills:
    if skill in skills[k]:
        companies.append(k)
print(*companies, sep = ',')

Python
Тинькофф, Открытие, Совкомбанк

In [84]:
inp_ = 'Болгария: 40.0, 39.7, 38.4; Эстония: 30.5, 30.6, 31.9; Латвия: 34.5, 35.7, 34.3; Польша: 27.2, 26.8, 26.3'

In [99]:
# inp_.split('; ')

print(*[y[0] for y in sorted({k:[float(_) for _ in v.split(', ')] for k,v in[i.split(': ') for i in inp_.split('; ')]}.items(), key = lambda x: x[1][0])], sep = '\n')

Польша
Эстония
Латвия
Болгария

In [128]:
deb_lst = []
deb_dict = {}
with open('balance.txt', 'r', encoding='utf-8') as f:
    for line in f:
        deb_lst += [x.split(', ')[0::2] for x in (line.strip().split('; ')) if 'кредит' in x]

for el in deb_lst:
    deb_dict[el[0]] = deb_dict.get(el[0], 0) + int(el[1])

print(sorted(deb_dict.items(), key = lambda x: x[1],reverse=True)[0][0])

Боливия

In [138]:
data = ''

with open('budget.txt', 'r', encoding='utf-8') as f:
    for line in f:
        data += line.strip() + ' '
data.split()

['Россия-Китай-300',
 'Куба-США-900',
 'Куба-Канада-750',
 'Италия-Россия-800',
 'Индия-Испания-800',
 'Китай-Индия-800',
 'США-Китай-790',
 'Куба-Китай-700',
 'Куба-Россия-120',
 'Италия-Испания-500',
 'Индия-Куба-700',
 'Италия-Китай-600',
 'Россия-Беларусь-700',
 'США-Россия-680',
 'Италия-Испания-400',
 'Куба-Индия-600',
 'Италия-Россия-800',
 'Индия-Китай-500',
 'США-Индия-560',
 'Испания-Португалия-700',
 'Беларусь-Португалия-600']

In [166]:
result = {}

for i in data.split():
    c_from, c_to, price = i.split('-')
    price = int(price)
    if c_from not in result:
        result[c_from] = [[c_to], price]
    else:
        result[c_from][0].append(c_to)
        result[c_from][1] += price

In [167]:
result

{'Россия': [['Китай', 'Беларусь'], 1000],
 'Куба': [['США', 'Канада', 'Китай', 'Россия', 'Индия'], 3070],
 'Италия': [['Россия', 'Испания', 'Китай', 'Испания', 'Россия'], 3100],
 'Индия': [['Испания', 'Куба', 'Китай'], 2000],
 'Китай': [['Индия'], 800],
 'США': [['Китай', 'Россия', 'Индия'], 2030],
 'Испания': [['Португалия'], 700],
 'Беларусь': [['Португалия'], 600]}

	

FILE:
Беларусь выплатил/а деньги следующим странам: Португалия
Сумма выплат составила 600
Индия выплатил/а деньги следующим странам: Испания, Китай, Куба
Сумма выплат составила 2000
Испания выплатил/а деньги следующим странам: Португалия
Сумма выплат составила 700
Италия выплатил/а деньги следующим странам: Испания, Китай, Россия
Сумма выплат составила 3100
Китай выплатил/а деньги следующим странам: Индия
Сумма выплат составила 800
Куба выплатил/а деньги следующим странам: Индия, Канада, Китай, Россия, США
Сумма выплат составила 3070
Россия выплатил/а деньги следующим странам: Беларусь, Китай
Сумма выплат составила 1000
США выплатил/а деньги следующим странам: Индия, Китай, Россия
Сумма выплат составила 2030
===
Больше всего выплат (3100) совершил/а Италия

In [168]:
to_file = sorted(result.items())

In [178]:
resString = ''
for _ in to_file:
    resString += f'{_[0]} выплатил/а деньги следующим странам: {", ".join(set(sorted(_[1][0])))}\nСумма выплат составила {_[1][1]}\n'
resString += '===\n'

maxi = 0
for _ in to_file:
    if _[1][1] > maxi:
        maxi = _[1][1]
        maxi_c = _[0]
resString += f'Больше всего выплат {maxi} совершил/а {maxi_c}'

In [175]:
to_file

[('Беларусь', [['Португалия'], 600]),
 ('Индия', [['Испания', 'Куба', 'Китай'], 2000]),
 ('Испания', [['Португалия'], 700]),
 ('Италия', [['Россия', 'Испания', 'Китай', 'Испания', 'Россия'], 3100]),
 ('Китай', [['Индия'], 800]),
 ('Куба', [['США', 'Канада', 'Китай', 'Россия', 'Индия'], 3070]),
 ('Россия', [['Китай', 'Беларусь'], 1000]),
 ('США', [['Китай', 'Россия', 'Индия'], 2030])]

In [180]:
with open('result.txt', 'w', encoding='utf-8') as outfile:r
    print(resString, file = outfile)

In [4]:
priceDB = {}
inpStr = input()
while inpStr:
    if inpStr == 'конец':
        break
    else:
        k, v = inpStr.split(':')
        v = list(map(int,(v.split(', '))))
        priceDB[k] = v
    inpStr = input()
prdLst = input().split(', ')
first = 0
second = 0
third = 0
for prd in prdLst:
    first += priceDB[prd][0]
    second += priceDB[prd][1]
    third += priceDB[prd][2]
res = [first, second, third]
print(min(res))
print(res.index(min(res)) + 1)

картошка: 160, 130, 160
укроп: 40, 30, 40
морковь: 70, 70, 80
яблоки: 220, 230, 240
клубника: 180, 190, 170
черника: 90, 100, 110
помидоры: 80, 80, 70
конец
черника, укроп, яблоки
350

ValueError: 351 is not in list

In [2]:
priceDB

{'Картошка': [150, 120, 130], 'Моркошка': [130, 300, 100]}

In [3]:
prdLst

['Моркошка']

In [7]:
sum([999.0, 1424.49])/len([999.0, 1424.49])

1211.745