## История олимпийских игр

Данные содержат следующие признаки:

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. Сколько лет было самым молодым участникам (мужчина и женщина) олимпийских игр в 1992 году?**

In [3]:
min92MaleAge = data[(data.Year == 1992) & (data.Sex == 'M')].Age.min() # сохраняем возраст младшего участника мужского пола
youngestMale = list(data[(data.Year == 1992) & (data.Sex == 'M') & (data.Age == min92MaleAge)].Name)[0] # Находим имя младшего участника мужского пола
min92FemaleAge = data[(data.Year == 1992) & (data.Sex == 'F')].Age.min() # сохраняем возраст младшего участника женского пола
youngestFemale = list(data[(data.Year == 1992) & (data.Sex == 'F') & (data.Age == min92FemaleAge)].Name)[0] # Находим имя младшего участника женского пола

# выводим результат для обоих полов:
print(f'Самый молодой участник женского пола в 1992 году: {youngestMale}, его возраст: {min92MaleAge} лет')
print(f'Самый молодой участник женского пола в 1992 году: {youngestFemale}, её возраст: {min92FemaleAge} лет')

Самый молодой участник женского пола в 1992 году: Carlos Bienvenido Front Barrera, его возраст: 11.0 лет
Самый молодой участник женского пола в 1992 году: Judit Kiss, её возраст: 12.0 лет

__2. Найдите среднее для роста теннисисток (большой теннис), которые участвовали в играх 2000 года.__

In [4]:
data.Sport.unique() # определяем искомый вид спорта: 'Tennis'

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [5]:
meanFemHeight2000 = data[(data.Sport == 'Tennis') & (data.Year == 2000) & (data.Sex == 'F')].Height.mean() # Находим значение и сохраняем в переменную
print(f'Средний рост теннисисток в 2000 году составил: {round(meanFemHeight2000,1)} см.')

Средний рост теннисисток в 2000 году составил: 171.8 см.

__3. Выведите названия всех уникальных дисциплин, связанных с катанием на коньках (Skating). Посчитайте их количество__

In [6]:
cnt = 0
print('Дисциплины, связанные с катанием на коньках:')
counter = 1
for _ in sorted(list(data.Sport.unique())):
    if 'Skating' in _:
        print(f'{counter}. {_}')
        cnt += 1
        counter += 1
print(f'Всего дисциплин, связанных с катанием на коньках: {cnt}')

Дисциплины, связанные с катанием на коньках:
1. Figure Skating
2. Short Track Speed Skating
3. Speed Skating
Всего дисциплин, связанных с катанием на коньках: 3

__4. Выведите всех спортсменов, которые завоевали серебрянные медали в Париже. Посчитайте их количество__

In [7]:
ParisSilverLst = list(data[(data.City == 'Paris') & (data.Medal == 'Silver')].Name)
print(f'Серебрянных медалистов Парижа: {len(ParisSilverLst)}')
print('\nИх полный список:')
print(*ParisSilverLst, sep = ', ')

Серебрянных медалистов Парижа: 509

Их полный список:
Max "Xam" Abegglen, Harold Maurice Abrahams, Anselm Ahlfors, Franz Aigner, Auguste Albert, Cyril Albert Alden, Richard Louis Pierre Allemane, Franz Albert Amrhein, William Wallace Anderson, Paul Eugne Albert Anspach, Ren Araou, Archenoul, Sidney James Montford "Sid" Atkinson, William Dunbar "Willie" Attrill, Louis Dsir Bach, Florence Barker, Thomas William Barnes, Franois "Nol" Bas, Denis Raymond Basset, Jacques Baudrier, Irving Knott "Irv" Baxter, Irving Knott "Irv" Baxter, Irving Knott "Irv" Baxter, Honor Jean Bayard, Francis Charles "Frank" Bayliss, George Beattie, Dsir Beaurain, Francis Joseph Edmund "Frank" De Beaurepaire, Elizabeth Anna "Betty" Becker-Pinkston (-Campbell), Flix Bdouret, Louis Bguet, Jean-Baptiste Andr Bhotguy, Arthur Armstrong Bell, Charles Bennett, Marcel Louis Berr, Lszl Berti (Berty), Romeo Bertini, J. Bertrand, Hugo Adolf Betting, Alexandre Jacques Joseph Baptiste Henri "Alex" Bioussa, John Henry Birtles, Archibald Campbell "Archie" Black, John Hutchison Black, Grard Blitz, Jr., Maurice Jean Blitz, Alfred Bloch, Elmer Julius Boeseke, Jr., tienne Bonnes, Verne Hobson Booth, Claes Arne Borg, Claes Arne Borg, Gilbert Bougnol, Adolphe Ren Bousquet, J. Braid, Hermanus Gerardus Brockmann, Leroy Taylor Brown, W. Browning, Prospre Bruggeman, Jacques Marie Stanislas Jean Brugnon, Luis ngel Brunetto, Walter Selby Buckmaster, Hans Ulrich Eduard Bhler, Bror Erik Bylhn, Victor Antoine Jules Cadet, John Selwin Calverley, Ivor M. Campbell, Fernand mile Canelle, James Cantion, Gustaf Vilhelm Carlberg, Laurent Aim Cassayet-Armagnac, Andr Castanet, Philippe Louis Eugne Cattiau, mile Julien Champion, Albert Alphonse Champoudry, Jean-Baptiste tienne August Charcot, Jean-Baptiste tienne August Charcot, Andrew Murray "Boy" Charlton, Jean Chastani, Maurice Froomes "Moss" Christie, Arthur T. Clark, Joseph Cludts, Henri Jean Cochet, Henri Jean Cochet, Henri Cohen, Paul Ren Colas, Meredith Bright Colket, Jean Collas, James Brendan Bennet Connolly, Eugne Louis Constant, Alfredo Copello, Eugne Louis Auguste Cordonnier, Albert Courquin, Phyllis Lindrea Covell (Howkins-), Charles Jean Albert Marie Edmond Crahay, John Francis Cregan, Arthur John Lovett Darby, Gladys Mary Davis, Jean De Backer, Victor De Behr, Jules Maria Adolphe Henri De Bisschop, Oscar De Cock, Joseph De Combe, Joseph De Combe, Joseph Ghislain Henri Maria De Craecker, Basil Spalding de Garmendia, Jean Pierre Marie Joseph  De Madre De Loos, Fernand Alphonse Marie Frdric de Montigny, Fernand Alphonse Marie Frdric de Montigny, Bernard Alexandre Georges Edmond de Pourtals, Hlne de Pourtals (Barbey-), Hermann Alexandre de Pourtals, Albert Louis De Roocker, Oscar Charles de Somville, Jean lie Louis Octave Guillaume Svre Amanieu Decazes et de Glucksbierg, Maxime Omer Mathieu "Max" Omer-Dcugis, Knud Oluf Jessen Degn, Henry Lon mile Deloge, Henry Lon mile Deloge, Charles Jules Delporte, Lon Delsarte, Ulise Joseph "Pete" Desjardins, Marc Pierre Detton, Pierre Dewin, Clement Pemberton Deykin, Walter Dietrich, Marcus Walthall Dinwiddie, Jacques Doucet, Jacques Doucet, Druart, Jr., A. Dubois, J. Dubois, Roger Franois Ducret, Roger Franois Ducret, Karl Duill, R. Duparc, Clment Dupont, Albert Dupouy, Albert Paul Durant, Louis Charles Marie Dutfoy, Albert Duval, Gustaf Peder Wilhelm Dyrssen, Karl Ehrenbolger, John "Jack" Elliott, Nils Erik Engdahl, Jean Etcheberry, August Oliver "Gus" Fager (Fagerstrm-), David Athelstane "Dave" Fall, Paul Fssler, Fernand Feyaerts, Colin Herbert Bain Finlayson, Horatio May Fitch, Georges Fleurix, Ramn Fonst Segundo, Harold Gordon Fowler, Maurice Eugne Fraysse, Frederick Charles Maitland "Freddie" Freake, Olaf Emil Frydenlund, Ren Paul Virgile Gaillard, Paul Gailly, Henri Galau, Franois Lucien Gangloff, Franois Lucien Gangloff, Jnos Garay, Georges Garnier, Charles Andr Gaudin, Alphonse Gemuseus, Agnes Geraghty (-McAndrews), Gilbert Antonin Jules Claude Marie Grints, Ernest Jules Henri Jean Marie Gevers, William Evans Garrett Gilmore, Victor Auguste Godinet, Victor Auguste Godinet, Charles Marius Duma Adolphe Gondouin, Gordon Reginald Goodwin, Raoul Got, Jean Honor  Gounot, Jean Honor  Gounot, Edward Orval "Ned" Gourdin, Glenn Graham, Ren Grandjean, John Joseph Gray, Oscar Grgoire, Jr., Louis Auguste Gressier, Henri Napolon Marie Maurice Gufflet, Robert Gufflet, Charles Guiraist, Jean Gutweniger, Jean Gutweniger, Ren Guyot, Gustaf Wilhelm Hagelin, Alfrd (Arnold-) Hajs (Guttmann-), Edmund Carl Marius Mller Hansen, Willy Falck Hansen, Phyllis May Harding (-Turner), Pierre douard Hardy, Thomas Truxtun Hare, Samuel Glenn Hartranft, Franois Frantz Heldenstein, Henri Hyacinthe Helle, Maurice Constant Maria Hemelsoet, James P. "Jimmy" Henigan, Francis Henriquez de Zubira, George Ernest Morrison Henry, Arthur Alfred Hermann, Jacob Hermann, Helmer Hermansen, Coenraad Christiaan Hiebendaal, Alphonse Higelin (Hglin-), Lloyd Augustin Biden Hildebrand, Thomas "Tommy" Hitchcock, Jr., Maurice Louis Hochepied, Victor Fernand Hochepied, Henri "Rik" Hoevenaers, Henri "Rik" Hoevenaers, Willy Hofmeister, William Joseph "Bill" Holland, L. Hood, Christoffel "Chris" Hooijkaas, Robert Horne, Franois Joseph Huber (Hber-), Konrad Walentin "Konni" Huber, Charles Hugo, Otto Ferdinand Hultberg, Friedrich "Fritz" Hnenberger, Robert Sinclair "Bob" Hunter, Lucien Paul Nol Huteau, Edwin Ellis Jacob, Frantiek Janda-Suk, Carl Johan Erik Jansson, Adolphe Jaurguy, Constance Mabel "Connie" Jeans, Marion Hall Jessup (Zinderstein-, -MacLure), Gustaf Mauritz Johansson (-Fritzing), Georges douard Johin, Robert Earl Johnson, Herbert Arthur "Bert" Johnston, Timothe Jordan, Duke Paoa Kahino Makoe Hulikohoa Kahanamoku, Elias Katz, Emil Kellenberger, Lajos Keresztes, Simon Alphonse Kirchhoffer, Frode Rasmussen Kirkebjerg, Clas Henrik Magnus Knig, Jan Koutn, Edmond Kramer III, Hermann Kreuzer, Marcel Lambert, Per Fredric Landelius, William Arnold Landvoigt, Jzef Lange, William Frederick Langford, Flix "Ren" Lasserre, Hans Latscha, Dezs Lauber, Jan azarski, Gabriel Charles Jean Le Bret, Patrick Joseph "Pat" Leahy, Georges Marcel Lecointe, Maurice Marie Lecoq, Eino Aukusti Leino, Marcel Pierre Lepan, Tommaso Lequio di Assaba, Carl Gustaf Moritz Thure Lewenhaupt, Einar Liberg, Ole Andreas Lilloe-Olsen, Arthur Richard Lindfors, Nils Gunnar Lindstrm, Robert Linzeler, Robert Linzeler, Harold Boyd Little, M. L. Logan, Gerhard Oswald "Geert" Lotsij, Paulus Jan "Paul" Lotsij, Herbert Arthur Loveitt, Marcel-Frdric Lubin-Lebrre, Erich Ludwig, Richard Ludwig, Georges Joseph Lumpp, Maurice Macaire, Bertram Hector "Bert" Macdonald, Arthur MacEvoy, George Findlay Aberach MacKay, Cyril Winthrop Mackworth-Praed, Cyril Winthrop Mackworth-Praed, Harold Segerson Mahony, Harold Segerson Mahony, Kaarlo Edvin Mkinen, Flix mile Marcotte, Paul-Ren Martin, Charles William Martin, Lucien Martinet, Eugne Henri Masson, Josiah Calvin McCracken, Jr., Walter Adolph McCreery, Matthew John "Matt" McGrath, Kathleen "Kitty" McKane (-Godfree), Grace McKenzie (-Nelson, -Morgan), James McKenzie, John Frederick McLean, Jacob "Jaap" Meijer, Hctor Eugene Mndez, Adolfo "Adolphe" Mengotti Arniz, Marcel Meran, Mathias Joseph Ferdinand Jules Henri Mialaret, Mathias Joseph Ferdinand Jules Henri Mialaret, Albert Michant, Camille mile Gaston Michelet, Maurice Paul Ren Monney-Bouton, Robert James Montgomery, Lon Ernest Moreaux, Fritz Mller, Harald Natvig, Georg Naue, Alfred Karl Neuland (Neiland-), Chester Willard "Chet" Newton, Samuel Robert Newton, Wilfred Paulin Nichol, Herbert Saint John Nicol, Anders Peter Nielsen, Anders Peter Nielsen, Anders Peter Nielsen, Christian Sren Nielsen, Vilho Aleksander Niittymaa, Emerson Carlysle Norton, August Oberhauser, Frank Olof Odberg, Ercole Olgeni, Pierre Ollivier, Otto Martin Olsen, Carl Townsend Osburn, Ole stmo, Ole stmo, Robert Pache, Charles William "Charley" Paddock, Alphonse Parfondry, Nicolas Achille Paroche, Nicolas Achille Paroche, Gaston Peltier, Louis Lonce Thophile Perre, Charles Jean Baptiste Perrin, Heinrich Peters, Josef Petersen, Sren Peter Petersen, Thyge Alexander Petersen, Georges Piot, tienne Piquiral, Joseph Pletinckx, Aron Pollitz, Eduard Poppe, Walter Harold Porter, Sndor Psta, Robert Prak, Robert Prak, Robert Prak, Yvonne Prvost (-Boppe), Yvonne Prvost (-Boppe), Meyer Prinstein, Norman Gilbert Pritchard (-Trevor), Norman Gilbert Pritchard (-Trevor), Hans Pulver, Jzsef Rdy, Adolphe Gaston Ragueneau, Rudolf Ramseyer, Walter Rangeley, Heinrich Reitz, Adolphe Reymond, Vincent "Vinnie" Richards, Aileen Muriel Riggin (-Soule), Thomas Cooper Riggs, Walter Riggs, Viljo Eino "Ville" Ritola (Koukkari-), Viljo Eino "Ville" Ritola (Koukkari-), Henrik Duntzfeldt Robert, Douglas Francis Robinson, Sidney John Robinson, Fred Roe, Sr., Georges Charles Roes, Louis Joseph Roffo, Georges Romas, Ernest John Roney, H. F. Roques, Edil Albert Rosenqvist, Lancelot Carrington "Lance" Royle, Karl August Ruberl, Paul Joseph mile Rumeau, Walter Mathers Rutherford, Fernand Dieudonn Coussaint Julien Saiv, Joseph "Joe" Salas, Karl Bertil Sandstrm, Italo Santelli, Fernando "Fernand" Sanz y Martinez de Arizala, mile Pierre Sarrade, Ole Andreas Sther, Giovanni Scatturin, Wilhelm "Willy" Schrer, Zoltn Schenker (Ozoray), Paul Schmiedlin, August Friedrich Christian Schmierer, Alfred John Schneidau, Jackson Volney Scholz, William Raymond Seagrove, Tom Seeberg, Albert Sguin, Albert Sguin, Guillaume Sron, Auguste Serrurier, Auguste Serrurier, Andr Jules Henri Six, John David "Jack" Smith, V. Smith, Henricus Petrus Augustinus Johannes "Henri" Smulders, Warren Bertram Snyder, Elemr Somfay (Stromfeld-), Victor Jean Marie Sonnemans, Gino Sopracordevole, Ovide Daniel Louis Henri Soubeyran, Andreas Stadler, Tomasz Stankiewicz, Ivan Cuthbert Stedman, Jean-Pierre Stock, Adolf Stockhausen, Dorothy Margaret Stuart Browne, Werner Mortimer Stuber, Arthur Addison "Art" Studenroth, Paul Sturzenegger, Henri Lon Victor Susse, Henri Lon Victor Susse, Artur Hjalmar Slve Svensson, Johan Rudolf Svensson, Johan Rudolf Svensson, Alfred Gomer Albert "Alf" Swahn, Carl Torsten Leopold Sylvan, Lszl Szchy, Franciszek Ksawery Szymczyk, M. W. Talbott, Raymond mile Julien Talleux, Iris Vera Tanner (-Murrell, -Curran), Henri Alexis Tauzin, Norman William Taylor, Henry John Terry, Jr., Johannes Hester Lambertus Terwogt, Walter Beardsley Tewksbury, Walter Beardsley Tewksbury, Texier I, Texier I, Texier II, Texier II, Victor Thibault, Victor Thibault, Lon Thibaut, Jules Thiry, Lon Thome, Aleksanteri Toivola, Lon Tom, Philip Humphreys Tomalin, Jules Cyrus Angelle Trinit, Salvatore Peter "Al" Tripoli, Giovanni Giorgio "Giangiorgio" Trissino, Jen Uhlyrik, A. R. Upton, Henri Jules Valton, Marcel Lucien Charles Van Crombrugge, Maurice E. Van Damme, Jean Van Den Bosch, Georges Van Der Poele, Arie van der Velden, Gerard Theodor Hubert Van Innis, Gerard Theodor Hubert Van Innis, Alfred Van Landeghem, Samuel Goodwin "Sam" Vance, Jean mile Vaysse, Jules Louis Verbecke (Gaillard-), Maurice Justin Verdonck, Jean-Pierre Vermetten, Vilhelm Vett, Maurice Marie Joseph Vignerot, Franois Antoine Vilamitjana (Caubet-), Pnlope Julie Vlasto (-Serpieri), Henri Raoul Marie von der Weid, Zoltn Imre dn von Halmay, Zoltn Imre dn von Halmay, dn von Tersztynszky, Otto Wahle, Otto Wahle, Helen E. Wainwright (-Stelling), Maxime Ren Waleff, William Lawrence "Laurie" Wallace, Joseph Godfrey Wallis, Rodman Lewis "Rod" Wanamaker, George Joseph Webber, mile Robert Wegelin, Mariechen M. Wehselau (-Jackson), Ottokar Weise, Carl Gustaf Olof Wejnarth, Georg Wenderoth, Henri Wernli, Pauline "Polly" Whittier (-Iselin), Claud Whittindale, Raymond Whittindale, Emil Edvin Wide (Hermansson-), Paul Wiesner, Volmar Valdemar Wikstrm, Erik Wilhelm "Erkka" Wiln, Frank Henry Wilson, William "Bill" Wood, Paul H. (-Paul Knuth) Wyatt, Jack Butler Yeats, Anton Zwerina

__5. Найдите самую легкую (по весу) атлетку игр 2006 года. В каком виде спорта она участвовала?__

In [8]:
lightweight = data[(data.Year == 2006) & (data.Sex == 'F') & (data.Weight == data[(data.Year == 2006) & (data.Sex == 'F')].Weight.min())][['Weight','Name', 'Sport']]

In [9]:
print(f'Самая легкая спортсменка 2006 года: {lightweight["Name"].values[0]}')
print(f'Её вес: {int(lightweight["Weight"].values[0])} кг')
print(f'Она выступала в следующем виде спорта: {lightweight["Sport"].values[0]}')

Самая легкая спортсменка 2006 года: Phyo Yong-Myong
Её вес: 38 кг
Она выступала в следующем виде спорта: Figure Skating

__6. В скольких олимпиадах принимал участие John Aalberg?__

In [10]:
print(f"John Aalberg принимал участик в {int(data[data['Name'] == 'John Aalberg'].Games.nunique())} Олимпиадах: {', '.join(list(data[data['Name'] == 'John Aalberg'].Games.unique()))}", end = '.')

John Aalberg принимал участик в 2 Олимпиадах: 1992 Winter, 1994 Winter.

__7. Сколько золотых медалей настольном теннисе выиграл Китай на Олимпиаде в 2008 году?__

In [11]:
print("В 2008 году Китай выйграл в настольном теннисе",data[(data.Team == 'China') & (data.Year == 2008) & (data.Medal == 'Gold') & (data.Sport == 'Table Tennis')].shape[0],'золотых медалей')

В 2008 году Китай выйграл в настольном теннисе 8 золотых медалей

__8. Правда ли, что Испания выиграла меньше медалей чем Италия на играх 2016 года? Не учитывайте NaN в колонке _Medal_.__

In [12]:
spainMedals = data[(data['Team'] == 'Spain') & (data['Year'] == 2016)].Medal.count()
itMedals = data[(data['Team'] == 'Italy') & (data['Year'] == 2016)].Medal.count()
if spainMedals < itMedals:
    print('Да, это правда, что Испания выиграла меньше медалей чем Италия на играх 2016 года')
else:
    print('Неправда')

Да, это правда, что Испания выиграла меньше медалей чем Италия на играх 2016 года

__9. Какая страна завоевала больше всех медалей в Figure Skating за всю историю?__

In [44]:
data[(data.Sport == 'Figure Skating') & (data.Medal.notnull())].groupby('Team').count()[['Medal']].sort_values(by='Medal',ascending=False).head(1)

               Medal
Team
United States     46

### Наблюдение по заданию 9

Судя по всему в данных есть дополнительные параметры для команды (f.e. Russia-1, Russia-2 etc.), в связи с чем ответ выше нельзя считать однозначным, без написания функции, обеспечивающей отбрасывание доп. индекса и определение количества медалей для каждой из команд