# Сбор данных из интернета

В библиотеке pandas есть функция `read_html()`, которая делает запрос к странице, находит в HTML-разметке теги `<table>`, преобразовывает эти данные в датафреймы и возвращает список таблиц.

In [1]:
import pandas as pd
df = pd.read_html('https://ru.wikipedia.org/wiki/%D0%A6%D0%95%D0%A0%D0%9D')

In [2]:
len(df)

12

In [6]:
df[0] # подставьте индексы от 0 до 11, увидите все таблицы, которые были на странице

,Европейская организация по ядерным исследованиям (CERN),Европейская организация по ядерным исследованиям (CERN).1
0,фр. Conseil Européen pour la Recherche Nucléai...,фр. Conseil Européen pour la Recherche Nucléai...
1,NaN,NaN
2,NaN,NaN
3,Международное название,англ. European Organization for Nuclear Research
4,Год основания,29 сентября 1954[1]
5,Директор,Фабиола Джианотти
6,Научные сотрудники,Около 2.5 тыс. постоянных сотрудников [2]; по ...
7,Расположение,Швейцария / Франция
8,Юридический адрес,"Мейран (Швейцария), Женева (кантон), Швейцария"
9,Сайт,home.cern
10,Награды,Золотая медаль Нильса Бора (2013)
11,Медиафайлы на Викискладе,Медиафайлы на Викискладе

Если мы знаем, что ищем, среди всех таблиц на странице, то можем использовать аргумент `match`. Обратите внимание, что даже если на странице всего одна таблица, функция `read_html` вернет ее как список из одного элемента, поэтому в конце обязательно использовать индекс `[0]`.

In [9]:
pd.read_html('https://ru.wikipedia.org/wiki/%D0%A6%D0%95%D0%A0%D0%9D', match='пожертвование')[0]

   Государство-член пожертвование  млн. CHF  млн. EUR
0          Германия       19,88 %      2186      1440
1           Франция       15,34 %      1687      1112
2    Великобритания       14,70 %      1616      1065
3            Италия       11,51 %      1265       834
4           Испания        8,52 %       937       618
5        Нидерланды        4,79 %       527       347
6         Швейцария        3,01 %       331       218
7            Польша        2,85 %       314       207
8           Бельгия        2,77 %       304       201
9            Швеция        2,76 %       304       200
10         Норвегия        2,53 %       278       183
11          Австрия        2,24 %       247       163
12           Греция        1,96 %       205       135
13            Дания        1,76 %       194       128
14        Финляндия        1,55 %       170       112
15            Чехия        1,15 %       127        84
16       Португалия        1,14 %       125        82
17          Венгрия        0,78 %        86        56
18         Словакия        0,54 %        59        39
19         Болгария        0,22 %        24        16

## Задание

Скачайте все таблицы с сайта: https://sportmail.ru/football-rus-premier/328/schedule/

Сколько там таблиц?

In [10]:
df = pd.read_html('https://sportmail.ru/football-rus-premier/328/schedule/')
len(df)

30

In [20]:
for i in range(30):
    print(i)
    print(df[i])

0
   Тур Дата, время                          Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  21.07.2023            Динамо – Краснодар  1:3         NaN         NaN
1  NaN  22.07.2023                   Урал – ЦСКА  2:1         NaN         NaN
2  NaN  22.07.2023  Пари Нижний Новгород – Зенит  0:2         NaN         NaN
3  NaN  22.07.2023             Локомотив – Рубин  2:2         NaN         NaN
4  NaN  22.07.2023        Ахмат – Крылья Советов  1:2         NaN         NaN
5  NaN  23.07.2023            Спартак – Оренбург  3:2         NaN         NaN
6  NaN  23.07.2023                Ростов – Факел  2:1         NaN         NaN
7  NaN  23.07.2023                Сочи – Балтика  2:0         NaN         NaN
1
   Тур Дата, время                         Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  29.07.2023      Крылья Советов – Динамо  3:3         NaN         NaN
1  NaN  29.07.2023  Урал – Пари Нижний Новгород  0:0         NaN         NaN
2  NaN  29.07.2023               Ростов – Зенит  1:1         NaN         NaN
3  NaN  30.07.2023             Рубин – Оренбург  1:1         NaN         NaN
4  NaN  30.07.2023            Факел – Локомотив  1:4         NaN         NaN
5  NaN  30.07.2023             Краснодар – Сочи  2:0         NaN         NaN
6  NaN  30.07.2023                 Ахмат – ЦСКА  2:3         NaN         NaN
7  NaN  31.07.2023            Спартак – Балтика  2:1         NaN         NaN
2
   Тур Дата, время                              Матч Счет  Unnamed: 4  \
0  NaN  04.08.2023  Краснодар – Пари Нижний Новгород  1:0         NaN
1  NaN  05.08.2023           Крылья Советов – Ростов  5:1         NaN
2  NaN  05.08.2023                   Рубин – Спартак  1:4         NaN
3  NaN  05.08.2023                   Оренбург – Урал  0:2         NaN
4  NaN  05.08.2023                  ЦСКА – Локомотив  4:1         NaN
5  NaN  06.08.2023                   Балтика – Факел  2:1         NaN
6  NaN  06.08.2023                    Зенит – Динамо  2:3         NaN
7  NaN  06.08.2023                      Сочи – Ахмат  1:2         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
3
   Тур Дата, время                          Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  11.08.2023                Урал – Спартак  3:2         NaN         NaN
1  NaN  12.08.2023    Локомотив – Крылья Советов  1:1         NaN         NaN
2  NaN  12.08.2023          Оренбург – Краснодар  0:2         NaN         NaN
3  NaN  12.08.2023                Ростов – Рубин  3:0         NaN         NaN
4  NaN  13.08.2023              Динамо – Балтика  2:0         NaN         NaN
5  NaN  13.08.2023                 Зенит – Факел  2:0         NaN         NaN
6  NaN  13.08.2023                   ЦСКА – Сочи  3:1         NaN         NaN
7  NaN  14.08.2023  Пари Нижний Новгород – Ахмат  2:0         NaN         NaN
4
   Тур Дата, время                          Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  18.08.2023        Рубин – Крылья Советов  2:1         NaN         NaN
1  NaN  19.08.2023                 Динамо – ЦСКА  2:1         NaN         NaN
2  NaN  19.08.2023                Балтика – Урал  0:1         NaN         NaN
3  NaN  19.08.2023         Краснодар – Локомотив  1:1         NaN         NaN
4  NaN  19.08.2023                 Сочи – Ростов  4:0         NaN         NaN
5  NaN  20.08.2023  Факел – Пари Нижний Новгород  2:0         NaN         NaN
6  NaN  20.08.2023               Спартак – Зенит  1:3         NaN         NaN
7  NaN  20.08.2023              Ахмат – Оренбург  4:0         NaN         NaN
5
   Тур Дата, время                           Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  25.08.2023                Оренбург – ЦСКА  1:1         NaN         NaN
1  NaN  25.08.2023              Факел – Краснодар  0:0         NaN         NaN
2  NaN  26.08.2023                   Зенит – Урал  4:0         NaN         NaN
3  NaN  26.08.2023                 Рубин – Динамо  2:2         NaN         NaN
4  NaN  26.08.2023                Спартак – Ахмат  0:0         NaN         NaN
5  NaN  26.08.2023  Пари Нижний Новгород – Ростов  1:0         NaN         NaN
6  NaN  27.08.2023       Крылья Советов – Балтика  2:1         NaN         NaN
7  NaN  27.08.2023               Сочи – Локомотив  0:1         NaN         NaN
6
   Тур Дата, время                          Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  02.09.2023                  Урал – Ахмат  0:1         NaN         NaN
1  NaN  02.09.2023  Пари Нижний Новгород – Рубин  2:1         NaN         NaN
2  NaN  02.09.2023        Крылья Советов – Факел  3:0         NaN         NaN
3  NaN  02.09.2023           Краснодар – Спартак  2:0         NaN         NaN
4  NaN  03.09.2023               Оренбург – Сочи  3:0         NaN         NaN
5  NaN  03.09.2023           Локомотив – Балтика  3:2         NaN         NaN
6  NaN  03.09.2023                  ЦСКА – Зенит  1:1         NaN         NaN
7  NaN  03.09.2023               Ростов – Динамо  1:2         NaN         NaN
7
   Тур Дата, время                           Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  15.09.2023  Динамо – Пари Нижний Новгород  1:1         NaN         NaN
1  NaN  16.09.2023          ЦСКА – Крылья Советов  2:2         NaN         NaN
2  NaN  16.09.2023              Ахмат – Краснодар  1:1         NaN         NaN
3  NaN  16.09.2023                 Спартак – Сочи  1:0         NaN         NaN
4  NaN  16.09.2023               Балтика – Ростов  2:2         NaN         NaN
5  NaN  17.09.2023                   Урал – Факел  0:0         NaN         NaN
6  NaN  17.09.2023                  Рубин – Зенит  0:3         NaN         NaN
7  NaN  17.09.2023           Локомотив – Оренбург  0:2         NaN         NaN
8
   Тур Дата, время                             Матч Счет  Unnamed: 4  \
0  NaN  23.09.2023            Крылья Советов – Сочи  2:1         NaN
1  NaN  23.09.2023                  Балтика – Ахмат  1:0         NaN
2  NaN  23.09.2023                 Спартак – Динамо  1:0         NaN
3  NaN  24.09.2023  Пари Нижний Новгород – Оренбург  3:1         NaN
4  NaN  24.09.2023                Зенит – Локомотив  1:2         NaN
5  NaN  24.09.2023                    Ростов – ЦСКА  3:3         NaN
6  NaN  24.09.2023                 Краснодар – Урал  2:0         NaN
7  NaN  25.09.2023                    Факел – Рубин  0:1         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
9
   Тур Дата, время                              Матч Счет  Unnamed: 4  \
0  NaN  29.09.2023                     Ростов – Урал  2:2         NaN
1  NaN  30.09.2023                  Оренбург – Зенит  3:1         NaN
2  NaN  30.09.2023  Локомотив – Пари Нижний Новгород  1:0         NaN
3  NaN  30.09.2023                 Рубин – Краснодар  0:2         NaN
4  NaN  30.09.2023                    ЦСКА – Балтика  1:0         NaN
5  NaN  01.10.2023                      Факел – Сочи  2:0         NaN
6  NaN  01.10.2023          Крылья Советов – Спартак  4:0         NaN
7  NaN  01.10.2023                    Ахмат – Динамо  1:1         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
10
   Тур Дата, время                                   Матч Счет  Unnamed: 4  \
0  NaN  07.10.2023                       Урал – Локомотив  2:2         NaN
1  NaN  07.10.2023                           Сочи – Зенит  0:2         NaN
2  NaN  07.10.2023                     Балтика – Оренбург  1:0         NaN
3  NaN  07.10.2023                     Краснодар – Ростов  3:2         NaN
4  NaN  08.10.2023  Пари Нижний Новгород – Крылья Советов  2:0         NaN
5  NaN  08.10.2023                         Динамо – Факел  0:0         NaN
6  NaN  08.10.2023                         Спартак – ЦСКА  2:2         NaN
7  NaN  08.10.2023                          Ахмат – Рубин  0:1         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
11
   Тур Дата, время                            Матч Счет  Unnamed: 4  \
0  NaN  21.10.2023                Оренбург – Факел  1:2         NaN
1  NaN  21.10.2023                    Рубин – ЦСКА  0:0         NaN
2  NaN  21.10.2023              Локомотив – Динамо  0:0         NaN
3  NaN  21.10.2023             Балтика – Краснодар  2:2         NaN
4  NaN  22.10.2023                     Урал – Сочи  1:4         NaN
5  NaN  22.10.2023  Спартак – Пари Нижний Новгород  2:0         NaN
6  NaN  22.10.2023          Зенит – Крылья Советов  3:1         NaN
7  NaN  22.10.2023                  Ростов – Ахмат  3:0         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
12
   Тур Дата, время                         Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  27.10.2023              Рубин – Балтика  1:0         NaN         NaN
1  NaN  28.10.2023              Факел – Спартак  2:0         NaN         NaN
2  NaN  28.10.2023           Ростов – Локомотив  1:0         NaN         NaN
3  NaN  28.10.2023    Крылья Советов – Оренбург  1:1         NaN         NaN
4  NaN  28.10.2023                Зенит – Ахмат  2:1         NaN         NaN
5  NaN  29.10.2023  Пари Нижний Новгород – Сочи  1:0         NaN         NaN
6  NaN  29.10.2023                Динамо – Урал  2:1         NaN         NaN
7  NaN  29.10.2023             ЦСКА – Краснодар  1:0         NaN         NaN
13
   Тур Дата, время                         Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  04.11.2023                Ахмат – Факел  1:2         NaN         NaN
1  NaN  04.11.2023              Балтика – Зенит  0:2         NaN         NaN
2  NaN  05.11.2023   Краснодар – Крылья Советов  2:1         NaN         NaN
3  NaN  05.11.2023  ЦСКА – Пари Нижний Новгород  3:2         NaN         NaN
4  NaN  05.11.2023          Локомотив – Спартак  1:1         NaN         NaN
5  NaN  06.11.2023            Оренбург – Ростов  1:1         NaN         NaN
6  NaN  06.11.2023                 Урал – Рубин  0:1         NaN         NaN
7  NaN  06.11.2023                Сочи – Динамо  3:3         NaN         NaN
14
   Тур Дата, время                            Матч Счет  Unnamed: 4  \
0  NaN  11.11.2023           Крылья Советов – Урал  3:1         NaN
1  NaN  11.11.2023                    Факел – ЦСКА  1:1         NaN
2  NaN  11.11.2023               Локомотив – Ахмат  2:1         NaN
3  NaN  11.11.2023               Зенит – Краснодар  1:1         NaN
4  NaN  12.11.2023  Пари Нижний Новгород – Балтика  0:0         NaN
5  NaN  12.11.2023               Динамо – Оренбург  2:0         NaN
6  NaN  12.11.2023                    Сочи – Рубин  0:2         NaN
7  NaN  12.11.2023                Спартак – Ростов  2:1         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
15
   Тур Дата, время                           Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  25.11.2023     Крылья Советов – Локомотив  3:3         NaN         NaN
1  NaN  25.11.2023                   Зенит – Сочи  3:0         NaN         NaN
2  NaN  25.11.2023                  ЦСКА – Динамо  2:3         NaN         NaN
3  NaN  25.11.2023              Балтика – Спартак  0:2         NaN         NaN
4  NaN  26.11.2023               Оренбург – Ахмат  1:1         NaN         NaN
5  NaN  26.11.2023               Урал – Краснодар  3:1         NaN         NaN
6  NaN  26.11.2023                  Рубин – Факел  1:0         NaN         NaN
7  NaN  26.11.2023  Ростов – Пари Нижний Новгород  1:0         NaN         NaN
16
   Тур Дата, время                         Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  02.12.2023              Факел – Балтика  0:0         NaN         NaN
1  NaN  02.12.2023        Сочи – Крылья Советов  0:2         NaN         NaN
2  NaN  02.12.2023  Пари Нижний Новгород – Урал  1:0         NaN         NaN
3  NaN  03.12.2023                ЦСКА – Ростов  2:0         NaN         NaN
4  NaN  03.12.2023         Краснодар – Оренбург  2:1         NaN         NaN
5  NaN  03.12.2023            Локомотив – Зенит  3:1         NaN         NaN
6  NaN  03.12.2023              Ахмат – Спартак  2:1         NaN         NaN
7  NaN  04.12.2023               Динамо – Рубин  1:0         NaN         NaN
17
   Тур Дата, время                          Матч Счет  Unnamed: 4  Unnamed: 5
0  NaN  08.12.2023              Локомотив – Урал  2:0         NaN         NaN
1  NaN  09.12.2023      Спартак – Крылья Советов  3:0         NaN         NaN
2  NaN  09.12.2023                Ахмат – Ростов  0:0         NaN         NaN
3  NaN  09.12.2023  Зенит – Пари Нижний Новгород  1:0         NaN         NaN
4  NaN  10.12.2023                Факел – Динамо  1:1         NaN         NaN
5  NaN  10.12.2023               Сочи – Оренбург  1:1         NaN         NaN
6  NaN  10.12.2023              Краснодар – ЦСКА  1:0         NaN         NaN
7  NaN  10.12.2023               Балтика – Рубин  0:1         NaN         NaN
18
   Тур   Дата, время                          Матч Счет  Unnamed: 4  \
0  NaN  01.03, 19:00       Ростов – Крылья Советов  2:0         NaN
1  NaN  02.03, 14:00               ЦСКА – Оренбург  1:1         NaN
2  NaN  02.03, 16:30             Краснодар – Рубин  1:1         NaN
3  NaN  02.03, 19:00                  Ахмат – Урал  1:0         NaN
4  NaN  02.03, 19:30               Зенит – Спартак  0:0         NaN
5  NaN  03.03, 14:00  Пари Нижний Новгород – Факел  1:1         NaN
6  NaN  03.03, 16:30            Динамо – Локомотив  2:1         NaN
7  NaN  03.03, 19:00                Балтика – Сочи  0:0         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
19
   Тур   Дата, время                          Матч Счет  Unnamed: 4  \
0  NaN  08.03, 14:00         Крылья Советов – ЦСКА  0:2         NaN
1  NaN  08.03, 18:30            Ростов – Краснодар  2:1         NaN
2  NaN  09.03, 14:00                  Урал – Зенит  1:4         NaN
3  NaN  09.03, 16:30  Рубин – Пари Нижний Новгород  0:1         NaN
4  NaN  09.03, 19:00                Динамо – Ахмат  2:0         NaN
5  NaN  10.03, 14:00            Оренбург – Балтика  1:0         NaN
6  NaN  10.03, 16:30              Локомотив – Сочи  2:2         NaN
7  NaN  10.03, 19:00               Спартак – Факел  0:2         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
20
   Тур   Дата, время                              Матч Счет  Unnamed: 4  \
0  NaN  24.04, 16:00                 Оренбург – Динамо  1:2         NaN
1  NaN  24.04, 18:15  Пари Нижний Новгород – Локомотив  2:3         NaN
2  NaN  24.04, 20:30                     Зенит – Рубин  0:2         NaN
3  NaN  24.04, 20:30               Краснодар – Балтика  3:2         NaN
4  NaN  25.04, 16:00                     Урал – Ростов  0:1         NaN
5  NaN  25.04, 18:15            Факел – Крылья Советов  0:1         NaN
6  NaN  25.04, 20:30                    ЦСКА – Спартак  0:0         NaN
7  NaN  25.04, 20:30                      Ахмат – Сочи  1:0         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
21
   Тур   Дата, время                            Матч Счет  Unnamed: 4  \
0  NaN  29.03, 19:30                 Динамо – Ростов  1:4         NaN
1  NaN  30.03, 14:00          Крылья Советов – Зенит  1:1         NaN
2  NaN  30.03, 16:30                     Сочи – ЦСКА  2:2         NaN
3  NaN  30.03, 17:30  Балтика – Пари Нижний Новгород  2:0         NaN
4  NaN  30.03, 19:00                  Спартак – Урал  0:0         NaN
5  NaN  31.03, 14:00                Факел – Оренбург  0:0         NaN
6  NaN  31.03, 16:30                   Рубин – Ахмат  2:1         NaN
7  NaN  31.03, 19:30           Локомотив – Краснодар  1:1         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
22
   Тур   Дата, время                              Матч Счет  Unnamed: 4  \
0  NaN  06.04, 14:00             Урал – Крылья Советов  1:2         NaN
1  NaN  06.04, 16:30  Пари Нижний Новгород – Краснодар  3:4         NaN
2  NaN  06.04, 20:00                     Ростов – Сочи  2:2         NaN
3  NaN  07.04, 14:00                      ЦСКА – Факел  4:1         NaN
4  NaN  07.04, 16:30                   Зенит – Балтика  1:0         NaN
5  NaN  07.04, 16:30                 Ахмат – Локомотив  0:2         NaN
6  NaN  07.04, 19:30                  Динамо – Спартак  1:2         NaN
7  NaN  08.04, 17:00                  Оренбург – Рубин  3:0         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
23
   Тур   Дата, время                             Матч Счет  Unnamed: 4  \
0  NaN  13.04, 14:00                   Сочи – Спартак  1:0         NaN
1  NaN  13.04, 16:30                  Ахмат – Балтика  1:7         NaN
2  NaN  13.04, 17:00                Краснодар – Зенит  1:2         NaN
3  NaN  13.04, 19:30                 Локомотив – ЦСКА  3:3         NaN
4  NaN  14.04, 12:00  Оренбург – Пари Нижний Новгород  3:1         NaN
5  NaN  14.04, 14:15                    Урал – Динамо  2:1         NaN
6  NaN  14.04, 16:45                   Факел – Ростов  0:1         NaN
7  NaN  14.04, 19:00           Крылья Советов – Рубин  2:0         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
24
   Тур   Дата, время                           Матч Счет  Unnamed: 4  \
0  NaN  19.04, 19:00              Краснодар – Факел  2:0         NaN
1  NaN  20.04, 14:00              Рубин – Локомотив  1:1         NaN
2  NaN  20.04, 16:30       Балтика – Крылья Советов  2:1         NaN
3  NaN  20.04, 19:30                   ЦСКА – Ахмат  1:2         NaN
4  NaN  21.04, 14:00  Пари Нижний Новгород – Динамо  1:4         NaN
5  NaN  21.04, 16:15               Зенит – Оренбург  1:0         NaN
6  NaN  21.04, 18:15                    Сочи – Урал  2:2         NaN
7  NaN  21.04, 20:30               Ростов – Спартак  1:5         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
25
   Тур   Дата, время                          Матч Счет  Unnamed: 4  \
0  NaN  28.04, 14:00  Ахмат – Пари Нижний Новгород  5:1         NaN
1  NaN  28.04, 16:15           Спартак – Локомотив  3:2         NaN
2  NaN  28.04, 19:15                Динамо – Зенит  1:0         NaN
3  NaN  28.04, 21:30                Балтика – ЦСКА  3:1         NaN
4  NaN  29.04, 13:00    Крылья Советов – Краснодар  0:0         NaN
5  NaN  29.04, 15:15                  Рубин – Урал  1:1         NaN
6  NaN  29.04, 17:30                  Сочи – Факел  0:0         NaN
7  NaN  29.04, 19:45             Ростов – Оренбург  2:1         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
26
   Тур   Дата, время                            Матч Счет  Unnamed: 4  \
0  NaN  04.05, 17:00       Оренбург – Крылья Советов  2:1         NaN
1  NaN  04.05, 19:30               Краснодар – Ахмат  0:1         NaN
2  NaN  05.05, 16:30                   Динамо – Сочи  3:2         NaN
3  NaN  05.05, 19:00  Пари Нижний Новгород – Спартак  0:0         NaN
4  NaN  06.05, 15:45                  Урал – Балтика  2:1         NaN
5  NaN  06.05, 18:00                   Факел – Зенит  1:1         NaN
6  NaN  06.05, 20:30                    ЦСКА – Рубин  2:2         NaN
7  NaN  06.05, 20:30              Локомотив – Ростов  1:0         NaN

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
27
   Тур   Дата, время                         Матч Счет  Unnamed: 4  Unnamed: 5

Нужно сохранить все таблицы в одну переменную. Для этого нам пригодится `pd.concat()`

In [23]:
df = pd.concat(df)

In [27]:
# df.reset_index(drop=True, inplace=True)

In [64]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys: 'Iterable[Hashable] | None' = None, levels=None, names: 'list[HashableT] | None' = None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool | None' = None) -> 'DataFrame | Series'
    Concatenate pandas objects along a particular axis.

    Allows optional set logic along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned. One exception to
        this is when the non-concatentation axis is a DatetimeIndex and join='outer'
        and the axis is not already aligned. In that case, the non-concatenation
        axis is always sorted lexicographically.
    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    It is not recommended to build DataFrames by adding single rows in a
    for loop. Build a list of rows and make a DataFrame in a single concat.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

    Append a single row to the end of a ``DataFrame`` object.

    >>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
    >>> df7
        a   b
    0   1   2
    >>> new_row = pd.Series({'a': 3, 'b': 4})
    >>> new_row
    a    3
    b    4
    dtype: int64
    >>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
        a   b
    0   1   2
    1   3   4

Посчитайте общее количество забитых голов у каждой команды. 

ПОДСКАЗКА
1. Сделайте `reset_index(drop=True, inplace=True)`
2. Удалите все строки, в которых еще не указан счет (игры пройдут позже)
3. Удалите ненужные столбцы

In [41]:
df.reset_index(drop=True, inplace=True)
df.dropna(axis=1, inplace=True)
df.dropna(axis=0, inplace=True)
df

      Дата, время                          Матч Счет
0      21.07.2023            Динамо – Краснодар  1:3
1      22.07.2023                   Урал – ЦСКА  2:1
2      22.07.2023  Пари Нижний Новгород – Зенит  0:2
3      22.07.2023             Локомотив – Рубин  2:2
4      22.07.2023        Ахмат – Крылья Советов  1:2
..            ...                           ...  ...
235  25.05, 16:30                   ЦСКА – Урал  2:0
236  25.05, 16:30                  Рубин – Сочи  1:1
237  25.05, 16:30           Балтика – Локомотив  1:3
238  25.05, 16:30                 Факел – Ахмат  2:0
239  25.05, 16:30            Оренбург – Спартак  0:0

[240 rows x 3 columns]

В полученном датафрейме нужно вытащить все значения, разделить команды и голы по разделителям, сохранить их как два списка. Далее на основе полученных данных сделать новый датафрейм с этими столбцами.

In [57]:
goals = df['Счет'].apply(lambda x: x.split(':')).sum()
goals = list(map(int, goals))
print(goals)

[1, 3, 2, 1, 0, 2, 2, 2, 1, 2, 3, 2, 2, 1, 2, 0, 3, 3, 0, 0, 1, 1, 1, 1, 1, 4, 2, 0, 2, 3, 2, 1, 1, 0, 5, 1, 1, 4, 0, 2, 4, 1, 2, 1, 2, 3, 1, 2, 3, 2, 1, 1, 0, 2, 3, 0, 2, 0, 2, 0, 3, 1, 2, 0, 2, 1, 2, 1, 0, 1, 1, 1, 4, 0, 2, 0, 1, 3, 4, 0, 1, 1, 0, 0, 4, 0, 2, 2, 0, 0, 1, 0, 2, 1, 0, 1, 0, 1, 2, 1, 3, 0, 2, 0, 3, 0, 3, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 0, 2, 2, 0, 0, 0, 3, 0, 2, 2, 1, 1, 0, 1, 0, 3, 1, 1, 2, 3, 3, 2, 0, 0, 1, 2, 2, 3, 1, 1, 0, 0, 2, 1, 0, 2, 0, 4, 0, 1, 1, 2, 2, 0, 2, 1, 0, 3, 2, 2, 0, 0, 0, 2, 2, 0, 1, 1, 2, 0, 0, 0, 0, 2, 2, 1, 4, 2, 0, 3, 1, 3, 0, 1, 0, 2, 0, 1, 0, 1, 1, 2, 1, 1, 0, 2, 1, 1, 0, 1, 2, 0, 2, 2, 1, 3, 2, 1, 1, 1, 1, 0, 1, 3, 3, 3, 1, 1, 1, 2, 1, 1, 1, 0, 0, 2, 0, 0, 2, 2, 1, 3, 3, 3, 0, 2, 3, 0, 2, 1, 1, 3, 1, 1, 0, 1, 0, 0, 0, 0, 2, 1, 0, 2, 0, 2, 1, 3, 1, 2, 1, 1, 0, 2, 0, 3, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 2, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 2, 1, 0, 0, 0, 2, 2, 1, 1, 4, 0, 1, 2, 0, 1, 0, 2, 2, 0, 2, 1, 2, 2, 3, 0, 2, 3, 2, 0, 1, 0, 1, 0, 0, 1, 0, 1, 4, 1, 1, 2, 2, 2, 0, 0, 0, 0, 0, 2, 1, 1, 1, 1, 2, 3, 4, 2, 2, 4, 1, 1, 0, 0, 2, 1, 2, 3, 0, 1, 0, 1, 7, 1, 2, 3, 3, 3, 1, 2, 1, 0, 1, 2, 0, 2, 0, 1, 1, 2, 1, 1, 2, 1, 4, 1, 0, 2, 2, 1, 5, 5, 1, 3, 2, 1, 0, 3, 1, 0, 0, 1, 1, 0, 0, 2, 1, 2, 1, 0, 1, 3, 2, 0, 0, 2, 1, 1, 1, 2, 2, 1, 0, 0, 2, 3, 1, 1, 0, 0, 1, 2, 3, 0, 2, 0, 0, 6, 1, 4, 1, 2, 0, 2, 3, 3, 3, 3, 1, 2, 1, 1, 5, 2, 6, 2, 1, 1, 0, 1, 1, 2, 0, 1, 1, 1, 3, 2, 0, 0, 0]

In [71]:
teams = df['Матч'].apply(lambda x: x.split('\xa0– ')).sum()
print(teams)

['Динамо', 'Краснодар', 'Урал', 'ЦСКА', 'Пари Нижний Новгород', 'Зенит', 'Локомотив', 'Рубин', 'Ахмат', 'Крылья Советов', 'Спартак', 'Оренбург', 'Ростов', 'Факел', 'Сочи', 'Балтика', 'Крылья Советов', 'Динамо', 'Урал', 'Пари Нижний Новгород', 'Ростов', 'Зенит', 'Рубин', 'Оренбург', 'Факел', 'Локомотив', 'Краснодар', 'Сочи', 'Ахмат', 'ЦСКА', 'Спартак', 'Балтика', 'Краснодар', 'Пари Нижний Новгород', 'Крылья Советов', 'Ростов', 'Рубин', 'Спартак', 'Оренбург', 'Урал', 'ЦСКА', 'Локомотив', 'Балтика', 'Факел', 'Зенит', 'Динамо', 'Сочи', 'Ахмат', 'Урал', 'Спартак', 'Локомотив', 'Крылья Советов', 'Оренбург', 'Краснодар', 'Ростов', 'Рубин', 'Динамо', 'Балтика', 'Зенит', 'Факел', 'ЦСКА', 'Сочи', 'Пари Нижний Новгород', 'Ахмат', 'Рубин', 'Крылья Советов', 'Динамо', 'ЦСКА', 'Балтика', 'Урал', 'Краснодар', 'Локомотив', 'Сочи', 'Ростов', 'Факел', 'Пари Нижний Новгород', 'Спартак', 'Зенит', 'Ахмат', 'Оренбург', 'Оренбург', 'ЦСКА', 'Факел', 'Краснодар', 'Зенит', 'Урал', 'Рубин', 'Динамо', 'Спартак', 'Ахмат', 'Пари Нижний Новгород', 'Ростов', 'Крылья Советов', 'Балтика', 'Сочи', 'Локомотив', 'Урал', 'Ахмат', 'Пари Нижний Новгород', 'Рубин', 'Крылья Советов', 'Факел', 'Краснодар', 'Спартак', 'Оренбург', 'Сочи', 'Локомотив', 'Балтика', 'ЦСКА', 'Зенит', 'Ростов', 'Динамо', 'Динамо', 'Пари Нижний Новгород', 'ЦСКА', 'Крылья Советов', 'Ахмат', 'Краснодар', 'Спартак', 'Сочи', 'Балтика', 'Ростов', 'Урал', 'Факел', 'Рубин', 'Зенит', 'Локомотив', 'Оренбург', 'Крылья Советов', 'Сочи', 'Балтика', 'Ахмат', 'Спартак', 'Динамо', 'Пари Нижний Новгород', 'Оренбург', 'Зенит', 'Локомотив', 'Ростов', 'ЦСКА', 'Краснодар', 'Урал', 'Факел', 'Рубин', 'Ростов', 'Урал', 'Оренбург', 'Зенит', 'Локомотив', 'Пари Нижний Новгород', 'Рубин', 'Краснодар', 'ЦСКА', 'Балтика', 'Факел', 'Сочи', 'Крылья Советов', 'Спартак', 'Ахмат', 'Динамо', 'Урал', 'Локомотив', 'Сочи', 'Зенит', 'Балтика', 'Оренбург', 'Краснодар', 'Ростов', 'Пари Нижний Новгород', 'Крылья Советов', 'Динамо', 'Факел', 'Спартак', 'ЦСКА', 'Ахмат', 'Рубин', 'Оренбург', 'Факел', 'Рубин', 'ЦСКА', 'Локомотив', 'Динамо', 'Балтика', 'Краснодар', 'Урал', 'Сочи', 'Спартак', 'Пари Нижний Новгород', 'Зенит', 'Крылья Советов', 'Ростов', 'Ахмат', 'Рубин', 'Балтика', 'Факел', 'Спартак', 'Ростов', 'Локомотив', 'Крылья Советов', 'Оренбург', 'Зенит', 'Ахмат', 'Пари Нижний Новгород', 'Сочи', 'Динамо', 'Урал', 'ЦСКА', 'Краснодар', 'Ахмат', 'Факел', 'Балтика', 'Зенит', 'Краснодар', 'Крылья Советов', 'ЦСКА', 'Пари Нижний Новгород', 'Локомотив', 'Спартак', 'Оренбург', 'Ростов', 'Урал', 'Рубин', 'Сочи', 'Динамо', 'Крылья Советов', 'Урал', 'Факел', 'ЦСКА', 'Локомотив', 'Ахмат', 'Зенит', 'Краснодар', 'Пари Нижний Новгород', 'Балтика', 'Динамо', 'Оренбург', 'Сочи', 'Рубин', 'Спартак', 'Ростов', 'Крылья Советов', 'Локомотив', 'Зенит', 'Сочи', 'ЦСКА', 'Динамо', 'Балтика', 'Спартак', 'Оренбург', 'Ахмат', 'Урал', 'Краснодар', 'Рубин', 'Факел', 'Ростов', 'Пари Нижний Новгород', 'Факел', 'Балтика', 'Сочи', 'Крылья Советов', 'Пари Нижний Новгород', 'Урал', 'ЦСКА', 'Ростов', 'Краснодар', 'Оренбург', 'Локомотив', 'Зенит', 'Ахмат', 'Спартак', 'Динамо', 'Рубин', 'Локомотив', 'Урал', 'Спартак', 'Крылья Советов', 'Ахмат', 'Ростов', 'Зенит', 'Пари Нижний Новгород', 'Факел', 'Динамо', 'Сочи', 'Оренбург', 'Краснодар', 'ЦСКА', 'Балтика', 'Рубин', 'Ростов', 'Крылья Советов', 'ЦСКА', 'Оренбург', 'Краснодар', 'Рубин', 'Ахмат', 'Урал', 'Зенит', 'Спартак', 'Пари Нижний Новгород', 'Факел', 'Динамо', 'Локомотив', 'Балтика', 'Сочи', 'Крылья Советов', 'ЦСКА', 'Ростов', 'Краснодар', 'Урал', 'Зенит', 'Рубин', 'Пари Нижний Новгород', 'Динамо', 'Ахмат', 'Оренбург', 'Балтика', 'Локомотив', 'Сочи', 'Спартак', 'Факел', 'Оренбург', 'Динамо', 'Пари Нижний Новгород', 'Локомотив', 'Зенит', 'Рубин', 'Краснодар', 'Балтика', 'Урал', 'Ростов', 'Факел', 'Крылья Советов', 'ЦСКА', 'Спартак', 'Ахмат', 'Сочи', 'Динамо', 'Ростов', 'Крылья Советов', 'Зенит', 'Сочи', 'ЦСКА', 'Балтика', 'Пари Нижний Новгород', 'Спартак', 'Урал', 'Факел', 'Оренбург', 'Рубин', 'Ахмат', 'Локомотив', 'Краснодар', 'Урал', 'Крылья Советов', 'Пари Нижний Новгород', 'Краснодар', 'Ростов', 'Сочи', 'ЦСКА', 'Факел', 'Зенит', 'Балтика', 'Ахмат', 'Локомотив', 'Динамо', 'Спартак', 'Оренбург', 'Рубин', 'Сочи', 'Спартак', 'Ахмат', 'Балтика', 'Краснодар', 'Зенит', 'Локомотив', 'ЦСКА', 'Оренбург', 'Пари Нижний Новгород', 'Урал', 'Динамо', 'Факел', 'Ростов', 'Крылья Советов', 'Рубин', 'Краснодар', 'Факел', 'Рубин', 'Локомотив', 'Балтика', 'Крылья Советов', 'ЦСКА', 'Ахмат', 'Пари Нижний Новгород', 'Динамо', 'Зенит', 'Оренбург', 'Сочи', 'Урал', 'Ростов', 'Спартак', 'Ахмат', 'Пари Нижний Новгород', 'Спартак', 'Локомотив', 'Динамо', 'Зенит', 'Балтика', 'ЦСКА', 'Крылья Советов', 'Краснодар', 'Рубин', 'Урал', 'Сочи', 'Факел', 'Ростов', 'Оренбург', 'Оренбург', 'Крылья Советов', 'Краснодар', 'Ахмат', 'Динамо', 'Сочи', 'Пари Нижний Новгород', 'Спартак', 'Урал', 'Балтика', 'Факел', 'Зенит', 'ЦСКА', 'Рубин', 'Локомотив', 'Ростов', 'Крылья Советов', 'Ахмат', 'Рубин', 'Ростов', 'Спартак', 'Краснодар', 'Зенит', 'ЦСКА', 'Балтика', 'Динамо', 'Оренбург', 'Локомотив', 'Факел', 'Урал', 'Сочи', 'Пари Нижний Новгород', 'Динамо', 'Крылья Советов', 'Локомотив', 'Факел', 'Сочи', 'Краснодар', 'Урал', 'Оренбург', 'Спартак', 'Рубин', 'Ростов', 'Балтика', 'Ахмат', 'Зенит', 'Пари Нижний Новгород', 'ЦСКА', 'Зенит', 'Ростов', 'Краснодар', 'Динамо', 'Крылья Советов', 'Пари Нижний Новгород', 'ЦСКА', 'Урал', 'Рубин', 'Сочи', 'Балтика', 'Локомотив', 'Факел', 'Ахмат', 'Оренбург', 'Спартак']

Сделайте группирующую таблицу по количеству голов для каждой команды.

In [74]:
df2 = pd.DataFrame(teams, goals)

In [94]:
# df2.reset_index(inplace=True)
# df2.columns = ['goal','team']
# df2.drop('l',inplace=True, axis=1)
df2.groupby('team')[['goal']].sum().sort_values('goal', ascending=False)

                      goal
team
ЦСКА                    56
Динамо                  53
Зенит                   52
Локомотив               52
Крылья Советов          46
Краснодар               45
Ростов                  43
Спартак                 41
Сочи                    37
Оренбург                34
Ахмат                   33
Балтика                 33
Рубин                   31
Урал                    30
Пари Нижний Новгород    29
Факел                   22

### Задача со звездочкой

Определите, в какие дни недели чаще всего проходят матчи. Вам понадобится тип данных [datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html).

In [109]:
df['Дата, время'].apply(lambda x: x[0:5] + '.2024' if ',' in x else x)

0      21.07.2023
1      22.07.2023
2      22.07.2023
3      22.07.2023
4      22.07.2023
          ...
235    25.05.2024
236    25.05.2024
237    25.05.2024
238    25.05.2024
239    25.05.2024
Name: Дата, время, Length: 240, dtype: object

In [110]:
df['date'] = df['Дата, время'].apply(lambda x: x[0:5] + '.2024' if ',' in x else x)

In [117]:
df

      Дата, время                          Матч Счет        date
0      21.07.2023            Динамо – Краснодар  1:3  21.07.2023
1      22.07.2023                   Урал – ЦСКА  2:1  22.07.2023
2      22.07.2023  Пари Нижний Новгород – Зенит  0:2  22.07.2023
3      22.07.2023             Локомотив – Рубин  2:2  22.07.2023
4      22.07.2023        Ахмат – Крылья Советов  1:2  22.07.2023
..            ...                           ...  ...         ...
235  25.05, 16:30                   ЦСКА – Урал  2:0  25.05.2024
236  25.05, 16:30                  Рубин – Сочи  1:1  25.05.2024
237  25.05, 16:30           Балтика – Локомотив  1:3  25.05.2024
238  25.05, 16:30                 Факел – Ахмат  2:0  25.05.2024
239  25.05, 16:30            Оренбург – Спартак  0:0  25.05.2024

[240 rows x 4 columns]

In [118]:
df.date = pd.to_datetime(df.date, dayfirst=True)

In [126]:
df['dayname'] = df.date.dt.day_name()

In [134]:
df.groupby('dayname')[['Матч']].count().sort_values('Матч', ascending=False)

           Матч
dayname
Saturday    103
Sunday       96
Monday       17
Friday       16
Thursday      4
Wednesday     4

In [139]:
df['dayname'].value_counts(normalize=True) * 100

dayname
Saturday     42.916667
Sunday       40.000000
Monday        7.083333
Friday        6.666667
Wednesday     1.666667
Thursday      1.666667
Name: proportion, dtype: float64

### Задача с двумя звездочками

На странице https://sportmail.ru/football-rus-premier/328/schedule/ есть выпадающее меню с разными сезонами. Как скачать все таблицы за все сезоны?

In [ ]:
# ваш код